/* Connte section
-------------------------------------------------- */
body > .content > .container {
  padding: 60px 15px 0;
}

.navbar-brand {
    padding-top: 12px;
}
.navbar-brand img {
    width: 110px;
}

/********************************************************************/
/*  FORMS  */
/********************************************************************/
/* required */
.form-group.required label:after {
    content: '  *';
    color: #A94442;
}
/* error list */
.form-error-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    -webkit-transition: all .3s ease-in;
}
.form-error-list li {
    color: #A94442;
}
.has-error .help-block {
    color: #737373;
}
/* loading button */
.btn .btn-loading-label {
	display: none;
}
.btn.btn-loading {
	opacity: .5;
}
.btn.btn-loading .btn-loading-label {
	display: block;
}
.btn.btn-loading .btn-label {
	display: none;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}