{% extends "theme-base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
	<link rel="stylesheet" href="{% static 'css/gallery.css' %}" type="text/css" />

	<div class="gallery">
		<div class="gallery-player">
			<div class="gallery-image-wrapper">
				<img class="gallery-image" src="" />
			</div>
			<div class="gallery-image-description">
				<span class="info"></span>
				<span class="text"></span>
			</div>
			<div class="gallery-image-info">
				<span>1 de 2</span>
			</div>
		</div>
		<div class="gallery-thumbs">
			<div class="gallery-scroll-left-button" style="background-image: url({% static 'image/gallery-arrow-left.png' %});"></div>
			<ul></ul>
			<div class="gallery-scroll-right-button" style="background-image: url({% static 'image/gallery-arrow-right.png' %});"></div>
		</div>
	</div>
	<script>
		var url = '{{ gallery_images }}';
		var galleryData = [
			{% for image in images %}
				{

				tinny: '{% static image.tinny %}',
				small: '{% static image.small %}',
				full: '{% static image.full %}',
				description: '{{image.description}}',
				},
			{% endfor %}
		];
	</script>
	<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
{% endblock %}